body 
{
    background:#333;
}

.fretbtn 
{
    height: 50px;
    width: 35px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

#btn-green
{
    background-color: green;
}

#btn-red
{
    background-color: red;
}

#btn-yellow
{
    background-color: yellow;
}

#btn-blue
{
    background-color: blue;
}

#btn-orange
{
    background-color: orange;
}